* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  font-family: "Bruno Ace SC", cursive;
}

.container {
  position: relative;
  background-color: white;
  width: 400px;
  height: 105px;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  transition: 0.6s ease-out;
}

.search {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  color: #333;
  width: 90%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
}
.search button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #333;
  background: #dff6fd;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}
.search button:hover {
  color: #fff;
  background: #333;
}
.error img {
  width: 100%;
}

.search i {
  position: absolute;
  color: #333;
  font-size: 28px;
}
.search {
  text-align: center;
}
.weather {
  text-align: center;
}

.weather img {
  width: 60%;
  margin-top: 30px;
}

.weather .temperature {
  position: relative;
  color: #333;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}
.weather .temperature span {
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather .description {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-end;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details i {
  color: #333;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

.weather-details span {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.error {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.error img {
  width: 70%;
}

.error p {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.weather,
.weather-details {
  scale: 0;
  opacity: 0;
}

.fade-in {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}
.error_404,
.error_input {
  display: none;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
